{{ partial "header.html" . }}
<section id="main">
  <section class="head">
		<div class="avatar">
		<a href="{{ .Site.BaseURL }}" target="_parent"><img src="{{ .Site.Params.avatar }}"></a>
		</div>
      <div class="title">{{ .Site.Title }}</div>
	  <div class="description">	{{ .Site.Params.description }} </div>
	  <div class="menu">
		<a href='{{ .Site.BaseURL }}static/photo'>
			<i class="fa fa-camera-retro"></i>{{ with .Site.Params.photo }}{{ . }}{{ else }}光与影{{ end }}
		</a>
		
		<a href='{{ .Site.BaseURL }}static/painting'>
			<i class="fa fa-paint-brush"></i>{{ with .Site.Params.painting }}{{ . }}{{ else }}无声诗{{ end }}
		</a>
		
		<a href='{{ .Site.BaseURL }}post'>
			<i class="fa fa-archive"></i>{{ with .Site.Params.archive }}{{ . }}{{ else }}归档{{ end }}
		</a>
		
		<a href='{{ .Site.BaseURL }}tags'>
			<i class="fa fa-tags"></i>{{ with .Site.Params.tag }}{{ . }}{{ else }}标签{{ end }}
		</a>
		
		<a href='{{ .Site.BaseURL }}games/i-fu-you/'>
			<i class="fa fa-gamepad"></i>{{ with .Site.Params.game }}{{ . }}{{ else }}游戏{{ end }}
		</a>
		
		<a href='{{ .Site.BaseURL }}about'>
			<i class="fa fa-user-circle"></i>{{ with .Site.Params.about }}{{ . }}{{ else }}关于{{ end }}
		</a>
		
		</div>
      <nav>
          {{ range .Site.Menus.main }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
      </nav>
  </section>
  {{ $paginator := .Paginate (where .Data.Pages "Type" "in" "post") }}
  <section class="posts">
    <ul class=posts_listing>
      {{ range .Paginator.Pages }}
        <a class="post" href="{{ .Permalink }}">{{ .Title }}
          <span>{{ .Date.Format (.Site.Params.dateform | default "2006年01月02日") }}</span>
        </a>
      {{ end }}
    </ul>
  </section>
{{ partial "paginator.html" . }}
</section>
{{ partial "footer.html" . }}
